html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
	text-align: center;
	margin-right: 20px;
}
li {
	display: flex;
	align-items: center;
}
.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rules-button {
	background: url("rules.png") 0 0 no-repeat;
	padding: 6px 20px;
}
.game-button {
	background: url("game.png") 0 0 no-repeat;
	padding: 6px 20px;
}
.rules-icon {
	padding: 35px;
	margin-right: 10px;
}
.rules-cells {
	background: url("rules-cells.png") 0 0 no-repeat;
}
.rules-number {
	background: url("rules-number.png") 0 0 no-repeat;
}
.rules-flag {
	background: url("rules-flag.png") 0 0 no-repeat;
}
.rules-win {
	background: url("rules-win.png") 0 0 no-repeat;
}
.rules-lose {
	background: url("rules-lose.png") 0 0 no-repeat;
}
.nav-item.navbar-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translatex(-50%) translateY(-50%);
}
.progress {
	width: 300px;
	height: 10px;
}
#result {
	color: white;
}
.game {
	background-color: #ecf0f1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}
.card {
	margin: 0 auto;
}
.cell {
	background-color: #7f8c8d;
	width: 21px;
	height: 21px;
	margin: 1;
	align-self: flex-start;
	color: #fff;
	text-align: center;
}
.cell:hover {
	cursor: pointer;
}
.cell.mine {
	background: url("mine.png") 3px no-repeat;
	background-color: #f39c12;
}
.cell.flag {
	background: url("flag.png") 3px no-repeat;
	background-color: #2980b9;
}
.cell.marked {
	background-color: #95a5a6;
}
.cell.wrong {
	background-color: #c0392b;
}
.cell.cero {
	background-color: #bdc3c7;
}
